<header>
  <div class="container nav" role="navigation" aria-label="Main">
    <nav>
      <ul>
        <!-- <li><a href="#challenges">Challenges</a></li> -->
        <li><a href="#schedule">About</a></li>
        <li><a href="#submissions">Submissions</a></li>
        <li>
          <a
            href="https://www.w3.org/events/meetings/a1128bb9-d32d-49b4-9f84-a6378800d73b/"
            target="_blank"
            rel="noopener"
            >Register</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
