<header>
  <div class="container nav" role="navigation" aria-label="Main">
    <!-- Left icon / brand -->
    <a
      class="brand"
      href="https://www.w3.org"
      aria-label="W3C website"
      rel="noopener"
      target="_blank"
    >
      <img
        src="assets/images/w3c-transparent.png"
        alt="W3C Logo"
        style="height: 50px; width: auto"
      />
    </a>

    <nav>
      <ul>
        <!-- <li><a href="#challenges">Challenges</a></li> -->
        <li><a href="#about">About</a></li>
        <li><a href="#submissions">Submissions</a></li>
        <li>
          <a
            href="https://www.w3.org/2024/09/TPAC/hackathon/"
            target="_blank"
            rel="noopener"
            >2024 Site</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
